*~
#*#
*.swp
*.swo
*.swn
catkin_ws_user/devel/
catkin_ws_user/build/
catkin_ws_user/logs/
catkin_ws_user/install/
catkin_ws_user/odroid-devel/
catkin_ws_user/odroid-build/
catkin_ws_user/odroid-install/
catkin_ws_user/src/CMakeLists.txt
catkin_ws_user/.catkin_tools/
catkin_ws_user/.catkin_workspace
*.tar.bz2
*.png
