<launch>
	<param name="robot_description" command="cat $(find config_files)/toretto.xml" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

	<node name="odometry_calculator" pkg="odometry_calculator" type="odometry_calculator_node" output="screen"/>
	<node name="gmapping" pkg="gmapping" type="slam_gmapping" args="scan:=/scan" output="screen">
		<param name="map_update_interval" value="10.0" />
		<param name="maxUrange" value="2.8"/>
		<param name="linearUpdate" value="0.25"/>
		<param name="angularUpdate" value="0.2"/>
		<param name="xmin" value="-50"/>
		<param name="ymin" value="-20"/>
		<param name="xmax" value="50"/>
		<param name="ymax" value="20"/>
		<param name="maxRange" value="3.0"/>
		<param name="minimumScore" value="50"/>
	</node>
</launch>
