<launch>
  <!-- local machine already has a definition by default.
       This tag overrides the default definition with
       specific ROS_ROOT and ROS_PACKAGE_PATH values -->
  <!-- a basic listener node -->
  <node name="joy" pkg="joy" type="joy_node" />
  <node name="joy_stopper" pkg="joystick_teleop" type="joystick_stopper.py" output="screen"/>

</launch>
