<launch>
  <param name="vu_l1" value="1.9"/>
  <param name="vu_r1" value="1.8" />
  <param name="vu_l2" value="1.8"/>
  <param name="vu_r2" value="1.25"/>
  <param name="max_steer_left" value="10" />
  <param name="max_steer_right" value="170"/>
  <param name="Kp_nav" value="0.5"/>
  <param name="Ka_nav" value="4.0"/>



    <node pkg="laser_scan" type="laser_scan" name="laser_scan" output="log">
        </node>

    <!-- <node pkg="lane_detection" type="lane_hough_node" name="lane_hough_node" output="screen">
      <remap from="image" to="/app/camera/rgb/image_raw"/> -->

      <node pkg="navigation_toretto" type="navigation_toretto" name="navigation_toretto" output="screen">
        </node>


</launch>
