<launch>
  <param name="vu_r" value="2.45"/>
  <param name="vu_l" value="1.8" />
  <param name="vu_m" value="0.9"/>
  <param name="max_steer_left" value="10" />
  <param name="max_steer_right" value="170"/>
  <param name="mid_steer_right" value="155"/>
  <param name="kp_park" value="8"/>

  <arg name="K_dist"       default="0.5"/>
  <arg name="K_angle"      default="30.0"/>
  <arg name="K_brake"      default="1.0"/>
  <arg name="max_speed"    default="500"/>
  <arg name="turn_speed"   default="200"/>
  <arg name="dist_to_lane" default="90"/>
  <param name="K_dist" value="$(arg K_dist)"/>
  <param name="K_angle" value="$(arg K_angle)"/>
  <param name="K_brake" value="$(arg K_brake)"/>
  <param name="max_speed" value="$(arg max_speed)"/>
  <param name="turn_speed" value="$(arg turn_speed)"/>
  <param name="dist_to_lane" value="$(arg dist_to_lane)"/>

 <node pkg="laser_scan" type="laser_scan" name="laser_scan" output="log">
     </node>

 <!-- <node pkg="lane_detection" type="lane_hough_node" name="lane_hough_node" output="screen">
   <remap from="image" to="/app/camera/rgb/image_raw"/> -->

   <node pkg="navigation_toretto" type="park_toretto" name="park_toretto" output="screen">
     </node>

</launch>
