<launch>
  <!-- <node name="lines_node" pkg="lines_detector" type="lines_node" args="lines /home/haime/Toretto/catkin_ws_user/Matrix.yaml" output="screen"/> -->
  <node name="lines_node" pkg="lines_detector" type="lines_node" args="lines /root/catkin_ws_user/Matrix.yaml" output="screen"/> 
</launch>